<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule 1: Let Azure Easy Auth handle all /.auth paths -->
        <rule name="EasyAuth Routes" stopProcessing="true">
          <match url="^(\.auth/.*)" />
          <action type="None" />
        </rule>

        <!-- Rule 2: Route all other requests to Angular's index.html for SPA routing -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
